.app__menuitem {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;

  &-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  &-sub {
    width: 100%;
    margin-top: .2rem;
  }

  &-name {
    flex: 1;
  }

  &-dash {
    height: 1px;
    width: 90px;
    background-color: var(--color-golden);
    margin: 0 1rem;
  }

  &-price {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
}