.app__laurels_awards {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;

  &-card {
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
    max-width: 45%;
    margin: 1rem;

    img {
      width: 50px;
      height: 50px;
    }

    &_content {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }
  }
}



@media screen and (max-width: 1900px) {
  .app__laurels_awards-card {
    max-width: 45%;
  }
}


@media screen and (max-width: 1600px) {
  .app__laurels_awards-card {
    max-width: 100%;
  }
}


@media screen and (max-width: 450px) {
  .app__laurels_awards-card {
    min-width: 100%;
    margin: 1rem 0;
  }
}