.app__gallery {
  display: flex;
  flex-direction: row;

  background: var(--color-black);
  padding: 4rem 0 4rem 6rem;


  &-content {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    min-width:  500px;
    padding-right: 2rem;
    
    button {
      margin-top: 1rem;
    }
  }

  &-images {
    flex: 1;
    display: flex;
    flex-direction: row;
    max-width: 50%;
    position: relative;
    overflow: hidden;

    &_container {
      display: flex;
      flex-direction: row;
      width: max-content;
      overflow-x: scroll;
      -ms-overflow-style: none;
      scrollbar-width: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    &_arrow {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      padding: 0 1rem;
      position: absolute;
      inset: 0;
    }

    &_card {
      position: relative;
      min-width: 301px;
      height: 447px;
      margin-right: 2rem;

      .gallery__image-icon {
        position: absolute;
        color: #fff;
        font-size: 2rem;
        opacity: .5;
        transition: .5s ease all;
        cursor: pointer;
      }


      &:hover {
        img {
          opacity: .35;
        }
        .gallery__image-icon {
          opacity: 1;
        }
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 1;
        transition: .5s ease;

        &:hover {
          opacity: .35;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .gallery__arrow-icon {
    color: var(--color-golden);
    font-size: 2rem;
    cursor: pointer;
    background-color: var(--color-black);
    border-radius: 5px;

    &:hover {
      color: var(--color-white);
    }
  }
}

@media screen and (max-width: 2000px) {

  .app__gallery {
    &-content {
      min-width: 800px;
      padding-left: 4rem;
    }

    &-images {
      &_card {
        min-width: 400px;
        height: 550px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  .app__gallery {
    flex-direction: column;
    padding: 2rem;

    &-images {
      max-width: 100%;
      margin: 5rem 0;
    }
  }
}

@media screen and (max-width: 850px) {
  .app__gallery {
    padding: 4rem 0 4rem 4rem;  
  }
}

@media screen and (max-width: 650px) {
  .app__gallery {
    padding: 2rem;  

    &-content {
      min-width: 100%;
    }

    &-images_card {
      min-width: 240px;
      height: 320px;
    }
  }
}