.app__footer {
  width: 100%;
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  background: var(--color-black);
  padding-top: 0;
}