.app__video {
  height: 100vh;
  position: relative;
  
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(0, 0, 0, .3);

    &_circle {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      border: 1px solid var(--color-golden);
      cursor: pointer;
    }
  }
  
}