.app__navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  background-color: var(--color-black);
  padding: 1rem 2rem;

  &-logo {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    img {
      width: 150px;
    }
  }

  &-links {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s ease;

    list-style: none;

    li {
      margin: 0 1rem;
      cursor: pointer;

      &:hover {
        color: var(--color-grey);
      }
    }
  }

  &-login {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin: 0 1rem;
      text-decoration: none;
      transition: all .5s ease;

      &:hover {
        border-bottom: 1px solid var(--color-golden);
      }
    }

    div {
      width: 1px;
      height: 30px;
      background-color: var(--color-grey);
    }

  }

  &-smallscreen {
    display: none;

    .open-menu {
      cursor: pointer;
      transition: all .5s ease;

      &:hover {
        color: var(--color-golden);
      }
    }

    &_overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background-color: var(--color-black);
      transition: all .5s ease;
      flex-direction: column;
  
      z-index: var(--zIndexAnnounce);
  
      .overlay__close {
        font-size: 27px;
        color: var(--color-golden);
        cursor: pointer;
  
        position: absolute;
        top: 20px;
        right: 20px;
      }
    }

    &-links {
      list-style: none;
      li {
        margin: 2rem;
        cursor: pointer;
        color: var(--color-golden);
        font-size: 2rem;
        text-align: center;
        font-family: var(--font-base);
        transition: all .7s ease;

        &.book-table {
          display: none;
          @media screen and (max-width: 650px) {
            display: block;
          }
        }

        &:hover {
          color: var(--color-white);
        }
      }
    }

    &-login {
      display: none;
      position: absolute;
      top: 20px;
      left: 20px;
      a {
        transition: all .7s ease;
        font-family: var(--font-base);
        color: var(--color-golden);
        font-size: 1rem;
        font-weight: bold;

        &:hover {
          color: var(--color-white);
        }
      }
    }
  }
}

@media screen and (max-width: 2000px) {
  .app__navbar-logo {
    img {
      width: 210px;
    }
  }
}

@media screen and (max-width: 1150px) {
  .app__navbar-smallscreen {
    display: flex;
  }
  .app__navbar-links {
    display: none;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo {
    img {
      width: 110px;
    }
  }

  .app__navbar-smallscreen-login {
    display: block;
  }
}