.app__specialMenu {
  flex-direction: column;
  background-color: var(--color-black);

  // title

  &-title {
    margin-bottom: 2rem;
    text-align: center;
  }

  &-menu {
    width: 100%;
    margin: 2rem 0; 
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &-menu {
    width: 100%;
    margin: 2rem 0;
    display: flex;  
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;

    &_heading {
      font-family: var(--font-base);
      font-weight: 600;
      font-size: 45px;
      line-height: 58.5px;
      letter-spacing: .04rem;
      color: var(--color-white);
    }

    &_wine, &_cocktails {
      flex: 1;
      width: 100%;
      flex-direction: column;
    }

    &_img {
      width: 410px;
      margin: 0 2rem;

      img {
        width: 100%;
        height: auto;
      }
    }

    &_items {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
      width: 100%;
    }
  }
}

@media screen and (max-width: 2000px) {
  .app__specialMenu-menu_img {
    width: 650px;
    
  }
}

@media screen and (max-width: 1150px) {

  .app__specialMenu {
    &-menu {
      flex-direction: column;
      align-items: center;
      width: 100%;
      
      img {
        margin: 3rem 0;
      }
    }
  }

  .app__specialMenu-menu {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
}

@media screen and (max-width: 650px) {
  .app__specialMenu {
    &-menu {
      &_heading {
        font-size: 35px;
        line-height: 48.5px;
      }
      &_img {
        width: 100%;
      }
    }
  }
}