.app__footer-links {
  display: flex; 
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  align-items: flex-start;

  padding: 0 2rem;

  &_contact, &_logo, &_work {
    flex: 1;
    margin: 1rem;
    text-align: center;
  }

  &_logo {
    img:first-child {
      width: 210px;
      margin-bottom: .75rem;
    }
  }

  &_work {
    p:nth-child(2n + 1) {
      margin-bottom: 1rem;
    }
  }

  &_icons {
    margin-top: .5rem;
    svg {
      color: var(--color-white);
      margin: .5rem;
      font-size: 24px;
      cursor: pointer;
      transition: all .5s ease;

      &:hover {
        color: var(--color-golden);
      }
    }
  } 
}


.app__footer-headtext {
  font-family: var(--font-base);
  color: var(--color-white);
  font-weight: 400;
  letter-spacing: .04em;
  text-transform: capitalize;
  font-size: 32px;
  line-height: 41.6px;
  margin-bottom: 1rem;
}

@media screen and (max-width: 2000px) {
  .app__footer-headtext {
    font-size: 51px;
    line-height: 61px;
  }
}

@media screen and (max-width: 1150px) {
  .app__footer-links {
    align-items: center;
    flex-direction: column;
    padding: 0;

    &_contact, &_logo, &_work {
      margin: 2rem 0;
    }
  }
}

@media screen and (max-width: 650px) {
  .app__footer {
    padding: 0 0 2rem 0;
  }
}

@media screen and (max-width: 350px) {
  .app__footer-links_logo {
    img:first-child { 
      width: 80%;
    }
  }
}