.app__footerOverlay {
  width: 100%;
  height: 100%;

  z-index: -1;
  display: flex;
  flex-direction: column;
  position: absolute;

  &-black {
    height: 25%;
    background-color: var(--color-black);
  }

  &-img {
    height: 75%;
  }
}