.app__aboutus {
  position: relative;

  &-overlay {
    position: absolute;
    inset: 0;

    img {
      width: 391px;
      height: 415px;
      z-index :0;
    }
  }

  &-content {
    width: 100%;
    z-index: 2;

    &_about {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: end;
      flex-direction: column;
      text-align: right;

      p {
        margin: 2rem 0;
        color: var(--color-grey);

      }
    }

    &_knife {
      margin: 2rem 3rem;

      img {
        height: 910px;
      }
    }

    &_history {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      text-align: left;

      img {
        transform: rotate(180deg);
      }

      p {
        margin: 2rem 0;
        color: var(--color-grey);
      }
    }
  }
}


@media screen and (max-width: 2000px) {
  .app__aboutus-content_knife {
    img {
      height: 1110px;
    }
  }

  .app__aboutus-content_history, .app__aboutus-content_about {
    p {
      margin: 4rem 0;
    }
  }
}


@media screen and (max-width: 900px) {
  .app__aboutus-content {
    flex-direction: column;

    &_about, &_history {
      padding: 0 1rem;
      justify-content: center;
      align-items: center;
      text-align: center;

      img {
        display: none;
      }
      p {
        margin: 1rem 0;
      }
    }
  }

  .app__aboutus-content_knife {
    margin: 4rem 0;
  }

}


@media screen and (max-width: 650px) {
  .app__aboutus-overlay {
    img {
      width: 80%;
      height: 320px;
    }
  }
} 