.app__header {
  background-color: var(--color-black);
}

.app__header-1 {
  font-family: vaR(--font-base);
  color: var(--color-golden);
  letter-spacing: .04em;
  text-transform: uppercase;
  line-height: 117px;
  font-size: 90px;
}